%input-style {
    border: 1px solid $black-80;

    &:focus {
        border: 1px solid $primary;
        box-shadow: inset 0 0 0 1px $primary;
    }

    &:focus-visible {
        outline: 0;
    }
}

%animation{
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}