<div class="d-flex justify-content-end mb-16">
    <select class="px-16 rounded-1" aria-label="select">
        <option selected>全部</option>
        <option value="安親">安親</option>
        <option value="美容">美容</option>
        <option value="住宿">住宿</option>
    </select>
</div>