<nav class="offcanvas offcanvas-start show bg-dark" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
    id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
    <div class="sidebar d-flex flex-column justify-content-between text-white p-4">
        <div>
            <h2 class="fs-3 mb-5">嘿毛後台管理系統</h2>
            <ul>
                <li class="mb-4"><a href="cms.html" class="sidebar-link fs-4 <%- currentPage === 'cms' ? 'active' : '' %>"><i
                            class="bi bi-house me-2"></i>首頁</a></li>
                <li class="mb-4"><a href="cms-order.html" class="sidebar-link fs-4 <%- currentPage === 'cms-order' ? 'active' : '' %>"><i class="bi bi-card-checklist me-2"></i>訂單管理</a>
                </li>
                <li><a href="cms-room.html" class="sidebar-link fs-4 <%- currentPage === 'cms-room' ? 'active' : '' %>"><i class="bi bi-calendar-week me-2"></i>房間查詢</a>
                </li>
            </ul>
        </div>
        <a href="cms-login.html" class="sidebar-link fs-4 mb-4"><i class="bi bi-power me-2"></i>登出</a>
    </div>
</nav>