<footer class="position-relative pt-120 pb-40 pb-xxl-120">
    <div class="container">
        <div class="row flex-column-reverse flex-xl-row w-100">
            <div class="col-md-10 col-xl-7 col-xxl-6">
                <div class="mb-40">
                    <h2 class="fw-bold text-white slogan-text mb-8">嘿 , 我們用心，</h2>
                    <h2 class="fw-bold text-white slogan-text mb-0">家長安心</h2>
                </div>
                <ul class="d-flex lh-1 mb-40">
                    <li class="me-24"><a href="#" class="mr-24"><i class="bi bi-line footer-icon fs-4"></i></a></li>
                    <li class="me-24"><a href="#"><i class="bi bi-facebook footer-icon fs-4"></i></a></li>
                    <li><a href="#"><i class="bi bi-instagram footer-icon fs-4"></i></a></li>
                </ul>
                <div>
                    <div class="d-flex justify-content-between align-items-center mb-16">
                        <h3 class="h5 text-white fw-bold mb-0">聯絡資訊</h3>
                        <h3 class="h5 fw-bold mb-0"><a href="cms-login.html" class="cms-link">後台管理<span><i
                                        class="bi bi-arrow-right-short fs-4 ms-16"></i></span></a></h3>
                    </div>
                    <p class="text-white mb-4">電話<a href="tel:+886-2-2618-0000" class="contact-info link">02-2618-0000</a></p>
                    <p class="text-white mb-4">地址<a href="#" class="contact-info link">新北市八里區星光里星光大道</a></p>
                    <p class="text-white mb-0">時間<span class="contact-info">週一至週日 09：00 ~21：00</span></p>
                </div>
            </div>
            <div class="col-xl-3 col-xxl-6">
                <div class="text-xl-center">
                    <img src="../assets/images/Logo.png" alt="logo" class="footer-logo img-fluid mb-40 mb-xl-0">
                </div>
            </div>
        </div>
    </div>
</footer>