<div class="d-flex justify-content-center">
    <header class="topbar w-lg-75 w-xl-50 w-xxl-45 rounded-pill position-fixed">
        <div class="d-flex align-items-center justify-content-between try">
            <a href="index.html"><img src="../assets/images/Logo.png" alt="Logo" class="topbar-logo"></a>
            <!-- 768px以上的menu -->
            <div class="d-none d-md-block">
                <ul class="table-menu d-flex ps-0 mb-0">
                    <li class="menu-item">
                        <a href="index.html" class="menu-link">首頁</a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="menu-link">關於我們</a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="menu-link">服務項目</a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="menu-link">常見問題</a>
                    </li>
                </ul>
            </div>
            <ul class="d-flex align-items-center ps-0 mb-0">
                <li>
                    <a href="reverse.html" class="reserve-link d-flex align-items-center justify-content-center">
                        <p class="reserve-text mb-0">線上<span class="d-md-block">預約</span></p>
                    </a>
                </li>
                <li class="d-md-none">
                    <div class="ham">
                        <div class="ham-line"></div>
                    </div>
                </li>
            </ul>
        </div>
    </header>

    <!-- 768px以下展開的menu -->
    <div class="d-block d-md-none mobile-menu">
        <ul class="menu d-flex flex-column ps-0 mb-0">
            <li class="menu-closedHam">
                <div class="closedHam">
                    <div class="closedHam-line"></div>
                </div>
            </li>
            <li class="menu-item menu-p">
                <a href="index.html" class="menu-link">首頁</a>
            </li>
            <li class="menu-item">
                <a href="#" class="menu-link">關於我們</a>
            </li>
            <li class="menu-item">
                <a href="#" class="menu-link">服務項目</a>
            </li>
            <li class="menu-item">
                <a href="#" class="menu-link">常見問題</a>
            </li>
            <li class="menu-item d-md-none">
                <a href="reverse.html" class="menu-link">線上預約</a>
            </li>
        </ul>
    </div>
</div>