<div class="d-flex justify-content-center">
    <header class="topbar w-lg-75 w-xl-50 w-xxl-45 rounded-pill position-fixed">
        <div class="d-flex align-items-center justify-content-between try">
            <a href="index.html"><img src="../assets/images/Logo.png" alt="Logo" class="topbar-logo"></a>
            <!-- table-menu -->
            <div class="d-none d-md-block">
                <ul class="table-menu d-flex">
                    <li class="menu-item">
                        <a href="memberCenter.html" class="menu-link position-relative <%- currentPage === 'memberCenter' ? 'active' : '' %>">會員中心</a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="menu-link position-relative">服務項目</a>
                    </li>
                    <li class="menu-item">
                        <a href="reverse.html" class="menu-link position-relative <%- currentPage === 'reserve' ? 'active' : '' %>">線上預約</a>
                    </li>
                </ul>
            </div>
            <ul class="d-flex align-items-center">
                <li>
                    <a href="login.html" class="logOut-link d-flex align-items-center justify-content-center">
                        <p class="logOut-text mb-0">登出</p>
                    </a>
                </li>
                <li class="d-md-none">
                    <div class="ham position-relative">
                        <div class="ham-line position-absolute d-block top-50 start-50 translate-middle"></div>
                    </div>
                </li>
            </ul>
        </div>
    </header>

    <!-- mobile-menu -->
    <div class="d-block d-md-none mobile-menu">
        <ul class="menu bg-primary d-flex flex-column position-fixed w-100 overflow-hidden">
            <li class="menu-closedHam d-flex justify-content-end">
                <div class="closedHam position-relative rounded-circle">
                    <div class="closedHam-line position-absolute d-block top-50 start-50 translate-middle"></div>
                </div>
            </li>
            <li class="menu-item">
                <a href="memberCenter.html" class="menu-link text-white fw-bold">會員中心</a>
            </li>
            <li class="menu-item">
                <a href="#" class="menu-link text-white fw-bold">服務項目</a>
            </li>
            <li class="menu-item">
                <a href="reverse.html" class="menu-link text-white fw-bold">線上預約</a>
            </li>
            <li class="menu-item">
                <a href="login.html" class="menu-link text-white fw-bold">登出</a>
            </li>
        </ul>
    </div>
</div>