<div class="py-48 ps-25 ps-md-35">
    <div class="row row-cols-1 row-cols-md-2 gy-24 gy-md-0">
        <div class="col">
            <div class="row">
                <label class="col-auto col-form-label"><span class="me-8">日期</span>
                    <input type="text" name="date"
                        class="form-control d-inline datepicker py-4 px-24 rounded-pill w-75 text-center"
                        placeholder="請點擊選擇日曆的日期" required>
                    <div class="invalid-feedback w-50 ms-50">
                        請選擇預約日期
                    </div>
                </label>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <label class="col-auto col-form-label"><span class="me-8">時間</span>
                    <input type="text" name="time"
                        class="form-control d-inline timepicker py-4 px-24 rounded-pill w-75 text-center"
                        placeholder="請點擊選擇時間" required>
                    <div class="invalid-feedback w-50 ms-50">
                        請選擇預約時間
                    </div>
                </label>
            </div>
        </div>
    </div>
</div>