.menu-link {
    @include pad {
        color: $black-80;

        &::after {
            position: absolute;
            content: "";
            display: block;
            bottom: -16px;
            left: 50%;
            transform: translatex(-50%);
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: transparent;
        }

        &:hover {
            color: $primary;

            &::after {
                background-color: $primary;
            }
        }

        &.active {
            color: $primary;

            &::after {
                position: absolute;
                content: "";
                display: block;
                bottom: -16px;
                left: 50%;
                transform: translatex(-50%);
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: $primary;
            }
        }
    }
}