.sidebar-toggled {
    .main {
        width: 100%;
        margin-left: 0px;
        transition: margin-left .2s;
    }
}

.main {
    width: 100%;
    margin-left: 280px;
    transition: margin-left .2s;

    @include pc {
        width: calc(100vw - 280px);
    }
}

.sidebar-link {
    color: $white;

    &:hover,
    &:active,
    &.active {
        color: $secondary;
    }
}