footer::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: $primary;
  border-top-right-radius: 120px;

  @include pad {
    width: 85%;
    border-top-right-radius: 160px;
  }
}

.slogan-text {
  font-size: 48px;

  @include pc-xl {
    font-size: 80px;
  }
}

.footer-icon {
  color: $white;

  &:hover {
    color: $secondary;
  }
}

.contact-info {
  color: $white;
  display: block;

  @include mobile {
    display: inline-block;
    margin-left: 24px;
  }

  &.link:hover {
    color: $secondary;
  }
}

.cms-link {
  color: $white;
  margin-right: 26px;
  position: relative;

  &::after {
    content: "";
    display: block;
    width: 80px;
    height: 1px;
    top: 3px;
    left: 0;
    background-color: transparent;
  }

  &:hover {
    &::after {
      background-color: $white;
    }
  }

  @include pc {
    margin-right: 72px;
  }
}

.footer-logo {
  width: 160px;
  height: 160px;
  margin-bottom: 40px;

  @include pc-lg {
    width: 180px;
    height: 180px;
  }
}