body {
    overflow-y: auto;
}

.topbar {
    width: 94%;
    background-color: rgba($color: $white, $alpha: 0.8);
    top: 16px;
    padding: 8px 30px;
    backdrop-filter: blur(10px);
    z-index: 3;

    @include mobile {
        padding: 8px 40px;
    }

    @include pad {
        top: 20px;
        padding: 20px 40px;
    }
}

.topbar-logo {
    width: 64px;
    height: 64px;

    @include pad {
        width: 80px;
        height: 80px;
    }
}

// table-menu樣式
.menu-item:not(:last-child) {
    margin-right: 32px;
}

@include pad {
    .menu-link {
        color: $black-80;

        &::after {
            position: absolute;
            content: "";
            display: block;
            bottom: -16px;
            left: 50%;
            transform: translatex(-50%);
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: transparent;
        }

        &:hover {
            color: $primary;

            &::after {
                background-color: $primary;
            }
        }

        &.active {
            color: $primary;

            &::after {
                position: absolute;
                content: "";
                display: block;
                bottom: -16px;
                left: 50%;
                transform: translatex(-50%);
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: $primary;
            }
        }
    }
}

// 線上預約<a>樣式
.logOut-link {
    padding: 8px 20px;
    border: 2px solid $primary-l;
    border-radius: 50rem;

    &:hover {
        border: 2px solid $primary;
        background-color: $primary ;

        .logOut-text {
            color: $white;
        }
    }

    &.active {
        border: 2px solid $primary;
        background-color: $primary ;

        .logOut-text {
            color: $white;
        }
    }

    @include mobile {
        margin-right: 8px;
    }

    @include pad {
        border-radius: 50%;
        width: 80px;
        height: 80px;
    }
}

.logOut-text {
    color: $primary;
}

// 漢堡樣式
.ham {
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 2;
}

.ham-line,
.ham-line::before,
.ham-line::after {
    position: absolute;
    content: "";
    width: 18px;
    height: 2px;
    background-color: $black;
}

.ham-line {

    &::before {
        top: -6px;
    }

    &::after {
        top: 6px;
    }
}

// mobile-menu樣式
@media (max-width: 767px) {
    .menu {
        top: 0;
        left: 0;
        height: 0;
    }

    .menu-item:not(:last-child) {
        margin-bottom: 32px;
    }

    .menu-link {
        font-size: 48px;
    }
}

// 漢堡關閉樣式
.menu-closedHam {
    padding: 16px 12px 0 0;
}

.closedHam {
    width: 80px;
    height: 80px;
    cursor: pointer;
    background-color: rgba($color: #fff, $alpha: 0.7);
}

.closedHam-line,
.closedHam-line::before,
.closedHam-line::after {
    position: absolute;
    content: "";
    width: 12px;
    height: 2px;
    background-color: #000;
}

.closedHam-line {
    background-color: transparent;

    &::before {
        top: 0;
        transform: rotate(45deg);
    }

    &::after {
        top: 0;
        transform: rotate(-45deg);
    }
}


// 768px以下 - menu透過js點擊展開
.menu.open {
    height: 100%;
    z-index: 5;

    .menu-item {
        margin-left: 12px;

        &:nth-child(2) {
            margin-top: 24px;
        }
    }

    .menu-link {
        line-height: 1.2;
    }
}

// 控制768px以下的menu展開時，不要有y軸滾動
body.hidden-y {
    overflow-y: hidden;
}