.reverse {
    padding: 160px 0;

    input,
    textarea {
        @extend %input-style;
    }

    &-option {
        @include pad {
            padding: 0 35px;
        }

        .option-link {
            color: $primary;
            background-color: $white;
            cursor: pointer;

            &:hover,
            &:active,
            &.active {
                color: $white;
                background-color: $primary;
            }
        }
    }

    .form-check-input:checked~.option-link {
        color: $white;
        background-color: $primary;
    }

    &-plan {
        @include pad {
            padding-left: 14px;
        }
    }

    &-time {
        padding-left: 25px;

        @include pad {
            padding-left: 35px;
        }

        .invalid-feedback {
            margin-left: 50px;
        }
    }

    &-info {
        padding: 0 25px;

        @include pad {
            padding: 0 35px;
        }
    }

    &-btn {
        @include link-slide($white, $primary, $primary, $white);

        &:first-child:active {
            color: $primary;
        }
    }
}

.title-line::after {
    position: absolute;
    content: '';
    display: block;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 1px;
    background-color: $black;
}

.bg-two-paws {
    @include pc-lg {
        background-image: url("../images/big-paw-right.png"), url("../images/big-paw-left.png");
        background-position: 90% 11%, 7% 75%;
        background-repeat: no-repeat;
    }
}