.cms-login {
    padding: 122px 0 80px 0;
    background-image: linear-gradient(to bottom, $primary-l, $secondary-l);

    input {
        @extend %input-style;
    }

    &-icon {
        top: 50%;
        left: 15px;
        transform: translateY(-50%);
    }
}