/*-------------------------共同樣式-------------------------*/
// 標題字體 
.section-h2 {
    font-size: 48px;
}

// mb間距
%section-mb {
    margin-bottom: 120px;

    @media (min-width:992px) {
        margin-bottom: 200px;
    }
}

// label 
.section-label {
    padding: 12px 20px;
    border: 3px solid $black;
    border-radius: 0 20px 20px 20px;
    margin-bottom: 24px;
    font-weight: 900;
}

/*--------------------------Banner--------------------------*/
.carousel {
    @extend %section-mb;

    // 設定carousel-inner高度
    // 讓caption的文字在手機板時可以定位在圖片下方
    &-inner {
        height: 865px;

        @media (min-width:375px) {
            height: 820px;
        }

        @media (min-width:992px) {
            height: 620px;
        }

        @media (min-width:1200px) {
            height: 870px;
        }

        @media (min-width:1400px) {
            height: 1080px;
        }
    }

    &-item {
        height: 620px;
        border-radius: 0 0 120px 120px;

        &.first {
            background-image: url("../images/banner-1.png");
            background-position: 83% center;
        }

        &.second {
            background-image: url("../images/banner-2.png");
            background-position: 75% center;
        }

        &.third {
            background-image: url("../images/banner-3.png");
            background-position: 75% center;
        }

        @media (min-width:1200px) {
            height: 870px;
        }

        @media (min-width:1400px) {
            height: 1080px;
        }
    }
}

.caption {
    // 第一頁輪播-文字定位
    left: 12px;
    top: 88%;

    @media (min-width:768px) {
        left: 6.5%;
    }

    @media (min-width:992px) {
        top: 33%;
    }

    @media (min-width:1200px) {
        top: 28%;
        left: 6.5%;
    }

    @media (min-width:1600px) {
        top: 32%;
        left: 16.5%;
    }

    // 第二、三頁輪播-文字定位
    &.common {
        top: 100%;

        @media (min-width:992px) {
            top: 48%;
            color: $white;
        }

        @media (min-width:1200px) {
            top: 41%;
        }

        @media (min-width:1600px) {
            top: 45.5%;
        }
    }

    // banner文字
    &-slogan {
        font-size: 32px;

        @media (min-width:1200px) {
            font-size: 40px;
        }

        @media (min-width:1400px) {
            font-size: 48px;
        }
    }
}

.prev-link {
    border-radius: 100px 0 0 100px;
    padding: 16px 14px 16px 24px;
}

.next-link {
    border-radius: 0 100px 100px 0;
    padding: 16px 24px 16px 14px;
}

/*-------------------------我們擁有-------------------------*/
.weHave {
    @extend %section-mb;
    height: 800px;

    @media (min-width:375px) {
        height: 687px;
    }

    @media (min-width:1200px) {
        height: 624px;
    }
}

.weHave-content li {

    // 手機-第二張圖間距設定
    &:nth-child(2) {
        margin-right: 24px;

        @media (min-width:768px) {
            margin-right: 40px;
        }
    }

    // 768px-所有圖片的間距
    @media (min-width:768px) {
        &:not(:last-child) {
            margin-right: 40px;
        }
    }

    // 1200px-第一張圖及content-txt間距設定
    @media (min-width:1200px) {
        &:nth-child(1) {
            margin-left: 144px;
        }

        &:nth-child(3) {
            padding: 0 26px;
        }
    }
}

.have-img {
    width: 257px;
    height: 386px;

    &.first {
        background-image: url("../images/Rectangle-1.png");
    }

    &.second {
        background-image: url("../images/Rectangle-2.png");
    }

    &.third {
        background-image: url("../images/Rectangle-3.png");
    }

    &.fourth {
        background-image: url("../images/Rectangle-4.png");
    }

    @media (min-width:1200px) {
        width: 416px;
        height: 624px;
    }
}

.content-txt {
    top: 92%;
    left: 3.5%;
    z-index: 2;

    @media (min-width:375px) {
        padding: 0 12px 0 0;
    }

    @media (min-width:768px) {
        padding: 0;
        left: 100%;
        transform: translateX(-100%);
    }

    // 1200px以上的content-txt寬度
    &-xl {
        width: 351px;

        @media (min-width:992px) {
            width: 417px;
        }
    }
}

/*-------------------------服務項目-------------------------*/
.service {
    @extend %section-mb;
    padding: 80px 0;
    position: relative;

    &:after {
        position: absolute;
        content: "";
        background-color: $secondary-l;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -2;
        border-radius: 120px 0 120px 0;

        @media (min-width:1200px) {
            border-radius: 160px 0 160px 0;
        }
    }

    @media (min-width:1200px) {
        padding: 160px 0;
    }

    &-title {
        margin-bottom: 24px;

        @media (min-width:1200px) {
            margin-bottom: 40px;
        }
    }

    &-content {
        padding: 24px 0;

        @media (min-width:1200px) {
            padding: 40px 0;
        }
    }
}

.subtitle {
    font-size: 28px;

    @media (min-width:1200px) {
        font-size: 32px;
        margin-bottom: 32px;
    }
}

// 向量圖大小+定位
@mixin vector-size($width, $height) {
    width: $width;
    height: $height ;
}

.vector {

    @media (min-width:768px) {
        margin-bottom: 20px;
    }

    @media (min-width:992px) {
        margin-bottom: 32px;
    }

    &.dayCare {
        background-image: url("../images/Vector-1-sm.png");
        @include vector-size(130px, 130px);

        @media (min-width:375px) {
            @include vector-size(160px, 160px);
            z-index: -1;
        }

        @media (min-width:1200px) {
            background-image: url("../images/Vector-1.png");
            @include vector-size(240px, 240px);
        }
    }

    &.paradise {
        background-image: url("../images/Vector-2-sm.png");
        @include vector-size(139px, 160px);
        z-index: -1;

        @media (min-width:1200px) {
            background-image: url("../images/Vector-2.png");
            @include vector-size(208px, 240px);
        }
    }

    &.cosmetic {
        background-image: url("../images/Vector-3-sm.png");
        @include vector-size(134px, 160px);
        z-index: -1;

        @media (min-width:1200px) {
            background-image: url("../images/Vector-3.png");
            @include vector-size(203px, 240px);
        }
    }

    &.sleeping {
        background-image: url("../images/Vector-4.png");
        @include vector-size(160px, 148px);
        z-index: -1;

        @media (min-width:1200px) {
            background-image: url("../images/Vector-4.png");
            @include vector-size(240px, 222px);
        }
    }
}

// 向量圖icon
.vector-img {
    @include vector-size(64px, 64px);

    &.brush {
        left: 65%;
        transform: translate(-65%, -50%);
    }

    @media (min-width:1200px) {
        @include vector-size(80px, 80px);
    }
}

/*-------------------------業界第一-------------------------*/
.theBest {
    @extend %section-mb;
}

.best-img {
    height: 375px;
    background-image: url("../images/happy-dog.png");
    background-position: right center;

    @media (min-width:768px) {
        height: 100%;
        background-position: 80% center;
    }

    @media (min-width:768px) {
        border-bottom-left-radius: 120px;
    }

    @media (min-width:1200px) {
        border-bottom-left-radius: 160px;
    }
}

.best-content {
    padding: 80px 24px 120px;
    border-bottom-left-radius: 120px;

    @media (min-width:768px) {
        border-radius: 0;
    }

    @media (min-width:1200px) {
        padding: 143px 134px;
    }
}

.bestBtn {
    padding: 20px 32px;
    color: $black;
    background-color: $secondary;
    border-radius: 100px;

    &:hover {
        color: $white;
        background-color: $primary;
    }
}