/*-------------------------共同樣式-------------------------*/
.center-common-mb {
    margin-bottom: 90px;

    @include pad {
        margin-bottom: 160px;
    }
}

/*-------------------------會員中心-------------------------*/
.member-center {
    background-image: url("../images/paw-right.png");
    background-position: 95% 25%;

    input {
        @extend %input-style;
    }
}

/*-------------------------基本資料-------------------------*/
.member-img {
    width: 120px;
    height: 120px;

    @include pc {
        width: 150px;
        height: 150px;
    }
}

.img-modify {
    cursor: pointer;
}

.cam-bg {
    bottom: 0;
    left: 0;
    height: 33%;
    background-color: rgba(0, 0, 0, 0.5);
}

/*-------------------------預約紀錄-------------------------*/
.table-group {
    height: 358px;
    overflow-y: scroll;
}