.service {
    padding: 0px 0 188px 0;

    @include pad {
        padding: 42px 0 160px 0;
    }

    &-banner {
        @include banner("https://images.unsplash.com/photo-1516293315-cfe8602f0750?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1173&q=80", 50%, 50%);
    }

    &-nav {
        .nav-item {
            @media (max-width:767px) {
                width: 50%;
                display: flex;
                justify-content: center;
            }
        }

        .nav-link {
            &:hover,
            &:active,
            &.active {
                color: $black;

                &::after {
                    position: absolute;
                    content: '';
                    top: 50%;
                    left: 50%;
                    width: 100px;
                    height: 40px;
                    border: 1px solid $primary;
                    border-radius: 50%;
                    transform: translate(-50%, -50%) rotate(-45deg);
                    z-index: -1;
                }
            }
        }
    }

    .card:hover {
        .title {
            z-index: 1;

            &::before {
                position: absolute;
                content: '';
                width: 25px;
                height: 25px;
                background-color: $secondary;
                border-radius: 50%;
                top: 0;
                left: -15px;
                z-index: -1;
            }
        }
    }
}

.num-list {
    list-style: decimal;
}

.h-400 {
    height: 400px;
}

.feed-img {
    background-image: url('https://images.unsplash.com/photo-1597843786271-1027c561c6ff?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80');
}

.walk-img {
    background-image: url('https://images.unsplash.com/photo-1569285105724-89e18c990b7c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80');
    background-position: left 50%;
}

.combing-img {
    background-image: url('https://images.unsplash.com/photo-1528846104175-4fd300ee59da?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1172&q=80');
    background-position: 60% 65%;
}

.stay-img {
    height: 320px;

    @include pc {
        height: 400px;
    }
}

.pool-img {
    height: 320px;
    background-image: url('https://images.unsplash.com/photo-1498747946579-bde604cb8f44?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1332&q=80');

    @include pc {
        height: 400px;
    }
}

.grass-img {
    height: 320px;
    background-image: url('https://images.unsplash.com/photo-1597595735637-05a49627ee29?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2080&q=80');
    background-position: 20% 50%;

    @include pc {
        height: 400px;
    }
}

.swiper-btn {
    color: $white;

    &::before,
    &::after {
        font-size: 28px;
    }
}