<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>嘿毛寵物旅館 | 關於我們</title>
    <link rel="icon" href="../assets/images/logo.ico" type="image/x-icon">
</head>

<body>

    <%- include('./layout/header', { currentPage: 'about' }); -%>

        <%- include('./layout/to-top-btn'); -%>

            <!-- Banner -->
            <div class="about-banner bg-size-cover bg-repeat-no d-flex justify-content-center align-items-center">
                <h2 class="title-font fst-italic text-white fw-bold d-inline-block mb-0">關於嘿毛</h2>
            </div>

            <!-- 關於我們 -->
            <div class="container">
                <div class="about">
                    <main class="about-content position-relative">
                        <div class="position-relative about-content-mb">
                            <img src="../assets/images/Zan.jpg" alt="店狗贊贊"
                                class="img-fluid w-100 w-lg-50 content-img rounded-1">
                            <div class="bg-secondary-l w-lg-50 p-16 p-md-48 rounded-1 content-position content-shadow">
                                <div class="text-center">
                                    <h2 class="content-title fw-bold position-relative mb-16"><i
                                            class="fa-solid fa-paw me-16 text-primary"></i>嘿毛起源<i
                                            class="fa-solid fa-paw ms-16 text-primary"></i></h2>
                                    <div class="text-black-80 py-8">
                                        <p>「嘿毛」取自黑毛的諧音</p>
                                        <p class="mb-16">店狗米克斯贊贊在109年從流浪動物花園認養回家，
                                            <span class="d-xl-block">四歲的他肌肉發達、骨架粗大，足足25公斤重，</span>
                                            <span class="d-xl-block">而他的毛色是會閃閃發亮的黑色!</span>
                                        </p>
                                        <p class="mb-16">大狗運動量大，且多半不願意在家上廁所，
                                            <span class="d-xl-block">每當要幫狗狗尋找寄宿時，都很難找到心儀的店家，</span>
                                            <span class="d-xl-block">「只能在館內」、「沒有散步」、「散步次數少」...</span>
                                            <span class="d-xl-block">是我們常遇見的窘境...</span>
                                        </p>
                                        <p class="mb-0">既然別人不行，那我們就自己來做吧!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="position-absolute arr-lower d-none d-lg-block">
                            <img src="../assets/images/arr-lower.png" alt="圓弧箭頭" class="arr-img">
                        </div>
                        <div class="position-relative about-content-mb">
                            <img src="../assets/images/ZanZan.jpg" alt="店狗贊贊"
                                class="img-fluid content-img w-100 d-lg-none">
                            <div class="bg-warning w-lg-50 p-16 p-md-48 content-shadow">
                                <div class="text-center">
                                    <h2 class="content-title fw-bold position-relative mb-16"><i
                                            class="fa-solid fa-paw me-16 text-primary"></i>嘿毛築夢<i
                                            class="fa-solid fa-paw ms-16 text-primary"></i></h2>
                                    <div class="text-black-80 py-8">
                                        <p class="mb-16">確認想為了狗狗打造良好的環境以後</p>
                                        <p class="mb-16">
                                            <span class="d-xl-block">我們努力的尋找適合的場地，</span>
                                            <span class="d-xl-block">只有夠大的環境，才可以符合我們心目中嘿毛該有的樣子</span>
                                            <span class="d-xl-block">我們才有辦法打造屬於狗狗的天堂</span>
                                        </p>
                                        <p class="mb-16">我們也在最短的時間內招攬各界的人才，
                                            <span class="d-xl-block">透過內部專業的教育、培訓，</span>
                                            <span class="d-xl-block">確保每一位在這裡的夥伴，都有超越業界的水準</span>
                                            <span class="d-xl-block">我們想提供的除了最好的服務，還有一顆最熱忱的心</span>
                                        </p>
                                        <p class="mb-0">
                                            <span class="d-xl-block">在我們一步一腳印之下，</span>
                                            <span class="d-xl-block">嘿毛逐漸的成形 ~</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <img src="../assets/images/ZanZan.jpg" alt="店狗贊贊"
                                class="img-fluid w-lg-50 content-img content-position z-n1 d-none d-lg-block rounded-1">
                        </div>
                        <div class="position-absolute arr-upper d-none d-lg-block">
                            <img src="../assets/images/arr-upper.png" alt="圓弧箭頭" class="arr-img">
                        </div>
                        <div class="position-relative">
                            <img src="../assets/images/hotel.jpg" alt="嘿毛環境"
                                class="img-fluid content-img w-100 d-lg-none">
                            <div class="bg-primary-l w-lg-50  p-16 p-md-48 rounded-1 content-position content-shadow">
                                <div class="text-center">
                                    <h2 class="content-title fw-bold position-relative mb-16"><i
                                            class="fa-solid fa-paw me-16 text-primary"></i>嘿毛成立<i
                                            class="fa-solid fa-paw ms-16 text-primary"></i></h2>
                                    <div class="text-black-80 py-8">
                                        <p class="mb-16">111年，嘿毛寵物旅館誕生了</p>
                                        <p class="mb-16">
                                            <span class="d-xl-block">我們特別選在遠離市區的八里區開立，</span>
                                            <span class="d-xl-block">在這裡，我們提供多樣的服務及設施</span>
                                            <span class="d-xl-block">我們主打大狗友善，讓主人不用再為寄宿而煩惱</span>
                                        </p>
                                        <p class="mb-16">我們公開且透明，
                                            <span class="d-xl-block">館內擁有24小時監視錄影，</span>
                                            <span class="d-xl-block">家長可以在將毛孩住宿後加入我們的Line，</span>
                                            <span class="d-xl-block">即時線上查看狗狗的狀況!</span>
                                        </p>
                                        <p class="fw-bold mb-4">「家長安心 , 毛小孩開心」</p>
                                        <p class="mb-0">是我們至高無上的守則</p>
                                    </div>
                                </div>
                            </div>
                            <img src="../assets/images/hotel.jpg" alt="嘿毛環境"
                                class="img-fluid w-lg-50 content-img d-none d-lg-block rounded-1">
                        </div>
                    </main>
                </div>
            </div>

            <%- include('./layout/footer'); -%>

                <script src="https://code.jquery.com/jquery-3.7.1.min.js"
                    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
                <script type="module" src="../main.js"></script>
                <script>
                    // back to top
                    $(function () {
                        $(function () {
                            $(window).scroll(function () {
                                if ($(window).scrollTop() > 100) {
                                    $("#back-to-top").fadeIn(1000);
                                }
                                else {
                                    $("#back-to-top").fadeOut(1000);
                                }
                            });
                            $("#back-to-top").click(function () {
                                $('body,html').animate({ scrollTop: 0 }, 500);
                                return false;
                            });
                        });
                    });

                    // 漢堡選單
                    const hamBtn = document.querySelector(".ham");
                    const mobileMenu = document.querySelector(".mobile-menu .menu");
                    const hamCloseBtn = document.querySelector(".closedHam");
                    const body = document.body;

                    function toggleMenu() {
                        mobileMenu.classList.toggle('open');
                        body.classList.toggle('hidden-y');
                    };

                    hamBtn.addEventListener('click', toggleMenu);
                    hamCloseBtn.addEventListener("click", toggleMenu);
                </script>
</body>

</html>