<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>嘿毛寵物旅館 | 線上預約-安親</title>
    <link rel="icon" href="../assets/images/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.css">
</head>

<body class="bg-secondary-l">

    <%- include('./layout/memberCenter-header', { currentPage: 'reserve-dayCare' }); -%>

        <div class="bg-two-paws">
            <div class="container">
                <main class="reverse">
                    <div class="row justify-content-center">
                        <div class="col-lg-10 col-xl-8">
                            <h2 class="title-font text-center mt-lg-5 mb-5">服務預約</h2>
                            <form class="form-inline py-5 px-2 px-md-5 bg-white rounded-1 needs-validation" novalidate>
                                <%- include('./component/reverse-service', { currentPage : 'dayCare' }); -%>
                                    <h3 class="title-line position-relative mb-3"><span
                                            class="fs-1 fw-bold me-2">2</span>選擇方案</h3>
                                    <div class="reverse-plan py-5">
                                        <p class="d-flex"><i
                                                class="bi bi-stars d-inline-block text-secondary me-1"></i>安親服務一次為8小時，不滿8小時以8小時計費，超時需另計收費
                                        </p>
                                        <p class="d-flex mb-0"><i
                                                class="bi bi-stars d-inline-block text-secondary me-1"></i>開放安親時間為每周一至周日9:00-21:00
                                        </p>
                                    </div>
                                    <h3 class="title-line position-relative mb-3"><span
                                            class="fs-1 fw-bold me-2">3</span>選擇日期</h3>
                                    <%- include('./component/reverse-date'); -%>
                                        <h3 class="title-line position-relative mb-3"><span
                                                class="fs-1 fw-bold me-2">4</span>填寫資料</h3>
                                        <%- include('./component/reverse-info'); -%>
                            </form>
                        </div>
                    </div>
                </main>
            </div>
        </div>

        <%- include('./layout/footer'); -%>

            <script type="module" src="../main.js"></script>
            <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
            <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>

            <script>
                // 日期選擇
                $(function () {
                    //設定中文語系
                    $.datepicker.regional['zh-TW'] = {
                        dayNames: ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六"],
                        dayNamesMin: ["日", "一", "二", "三", "四", "五", "六"],
                        monthNames: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
                        monthNamesShort: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
                        prevText: "上月",
                        nextText: "次月",
                        weekHeader: "週"
                    };
                    //將預設語系設定為中文
                    $.datepicker.setDefaults($.datepicker.regional["zh-TW"]);
                    $(function () {
                        $("#datepicker").datepicker({
                            dateFormat: "yy-mm-dd",
                            minDate: 1,
                            maxDate: "+3M",
                        });
                    });
                });

                // 時間選擇
                $('.timepicker').timepicker({
                    timeFormat: 'h:mm p',// 時間隔式
                    interval: 30,//時間間隔
                    minTime: '9',//最小時間
                    maxTime: '21:00pm',//最大時間
                    //defaultTime: '9',//預設起始時間
                    startTime: '9:00',//開始時間
                    dynamic: true,//是否顯示項目，使第一個項目按時間順序緊接在所選時間之後
                    dropdown: true,//是否顯示時間條目的下拉列表
                    scrollbar: true//是否顯示捲軸
                });

                // validation
                (function () {
                    'use strict'
                    var forms = document.querySelectorAll('.needs-validation')
                    Array.prototype.slice.call(forms)
                        .forEach(function (form) {
                            form.addEventListener('submit', function (event) {
                                if (!form.checkValidity()) {
                                    event.preventDefault()
                                    event.stopPropagation()
                                }

                                form.classList.add('was-validated')
                            }, false)
                        })
                })();
            </script>
</body>

</html>