<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>嘿毛寵物旅館 | 線上預約-美容</title>
    <link rel="icon" href="../assets/images/logo.ico" type="image/x-icon">
</head>

<body>
    <%- include('./layout/memberCenter-header', { currentPage: 'reserve-cosmetic' }); -%>



    <%- include('./layout/footer'); -%>

            <script type="module" src="../main.js"></script>
</body>

</html>