<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>嘿毛寵物旅館 | 線上預約-安親</title>
    <link rel="icon" href="../assets/images/logo.ico" type="image/x-icon">
</head>

<body class="bg-secondary-l">

    <%- include('./layout/memberCenter-header', { currentPage: 'reserve-dayCare' }); -%>

        <div class="bg-two-paw">
            <main class="reverse-content">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-10 col-xl-8">
                            <h2 class="member-center-title title-font text-center">服務預約</h2>
                            <form class="py-5 px-2 px-md-5 bg-white rounded-1 needs-validation" novalidate>
                                <%- include('./component/reverse-service', { currentPage : 'dayCare' }); -%>
                                    <h3 class="reverse-title-line position-relative mb-3"><span
                                            class="fs-1 fw-bold me-2">2</span>選擇方案</h3>
                                    <div class="reverse-plan py-5">
                                        <p class="d-flex"><i
                                                class="bi bi-stars d-inline-block text-secondary me-1"></i>安親服務一次為8小時，不滿8小時以8小時計費，超時需另計收費
                                        </p>
                                        <p class="d-flex mb-0"><i
                                                class="bi bi-stars d-inline-block text-secondary me-1"></i>開放安親時間為每周一至周日9:00-21:00
                                        </p>
                                    </div>
                                    <%- include('./component/reverse-input'); -%>
                            </form>
                        </div>
                    </div>
                </div>
            </main>
        </div>

        <%- include('./layout/footer'); -%>

            <script type="module" src="../main.js"></script>
            <script>
                (function () {
                    'use strict'
                    var forms = document.querySelectorAll('.needs-validation')
                    Array.prototype.slice.call(forms)
                        .forEach(function (form) {
                            form.addEventListener('submit', function (event) {
                                if (!form.checkValidity()) {
                                    event.preventDefault()
                                    event.stopPropagation()
                                }
                                form.classList.add('was-validated')
                            }, false)
                        })
                })()
            </script>
</body>

</html>