<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>嘿毛寵物旅館 | 線上預約</title>
    <link rel="icon" href="../assets/images/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.css">
</head>

<body class="bg-secondary-l">
    <%- include('./layout/memberCenter-header', { currentPage: 'reserve' }); -%>

        <div class="bg-two-paws">
            <div class="container">
                <main class="reverse row justify-content-center py-160">
                    <div class="col-lg-10 col-xl-8">
                        <h2 class="title-font text-center mt-lg-48 mb-48">服務預約</h2>
                        <p class="fs-5 text-center mb-lg-48">線上預約一單只能預約一位毛孩，若有多位需要預約，再煩請您逐一填寫表單</p>
                        <!-- 服務選擇 -->
                        <div class="bg-white px-16 px-md-48 pt-48">
                            <h3 class="title-line position-relative mb-16"><span class="fs-1 fw-bold me-8">1</span>選擇服務
                            </h3>
                            <ul class="nav justify-content-between py-48 px-md-35" id="pills-tab" role="tablist">
                                <li class="nav-item w-30 w-xl-25">
                                    <button
                                        class="option-link w-100 p-16 py-md-24 border border-primary rounded-pill active"
                                        id="dayCare-tab" data-bs-toggle="pill" data-bs-target="#dayCare" type="button"
                                        role="tab" aria-controls="dayCare" aria-selected="true">狗狗安親</button>
                                </li>
                                <li class="nav-item w-30 w-xl-25">
                                    <button class="option-link w-100 p-16 py-md-24 border border-primary rounded-pill"
                                        id="cosmetic-tab" data-bs-toggle="pill" data-bs-target="#cosmetic" type="button"
                                        role="tab" aria-controls="cosmetic" aria-selected="false">狗狗美容</button>
                                </li>
                                <li class="nav-item w-30 w-xl-25">
                                    <button class="option-link w-100 p-16 py-md-24 border border-primary rounded-pill"
                                        id="stay-tab" data-bs-toggle="pill" data-bs-target="#stay" type="button"
                                        role="tab" aria-controls="stay" aria-selected="false">狗狗住宿</button>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content" id="pills-tabContent">
                            <!-- 安親 -->
                            <div class="tab-pane show active" id="dayCare" role="tabpanel"
                                aria-labelledby="dayCare-tab">
                                <form class="form-inline pb-48 px-8 px-md-48 bg-white rounded-1 needs-validation"
                                    novalidate>
                                    <h3 class="title-line position-relative mb-16"><span
                                            class="fs-1 fw-bold me-8">2</span>選擇方案</h3>
                                    <div class="py-48 ps-md-14">
                                        <p class="d-flex"><i
                                                class="bi bi-stars d-inline-block text-secondary me-4"></i>安親服務一次為8小時，不滿8小時以8小時計費，超時需另計收費
                                        </p>
                                        <p class="d-flex mb-0"><i
                                                class="bi bi-stars d-inline-block text-secondary me-4"></i>開放安親時間為每周一至周日9:00-21:00
                                        </p>
                                    </div>
                                    <h3 class="title-line position-relative mb-16">
                                        <span class="fs-1 fw-bold me-8">3</span>選擇日期
                                    </h3>
                                    <%- include('./layout/reverse-date'); -%>
                                        <h3 class="title-line position-relative mb-16">
                                            <span class="fs-1 fw-bold me-8">4</span>填寫資料
                                        </h3>
                                        <%- include('./layout/reverse-info'); -%>
                                </form>
                            </div>
                            <!-- 美容 -->
                            <div class="tab-pane" id="cosmetic" role="tabpanel" aria-labelledby="cosmetic-tab">
                                <form class="form-inline pb-48 px-8 px-md-48 bg-white rounded-1 needs-validation"
                                    novalidate>
                                    <h3 class="title-line position-relative mb-16"><span
                                            class="fs-1 fw-bold me-8">2</span>選擇體型</h3>
                                    <ul class="d-flex justify-content-between py-48 px-md-35">
                                        <li class="form-check form-check-inline w-30 w-xl-25 p-0 m-0">
                                            <input class="form-check-input d-none" type="radio" name="size" id="small"
                                                value="&lt;10kg" required>
                                            <label
                                                class="form-check-label option-link text-center border border-primary rounded-pill p-16 py-md-24 w-100"
                                                for="small"> &lt;
                                                10kg</label>
                                        </li>
                                        <li class="form-check form-check-inline w-30 w-xl-25 p-0 m-0">
                                            <input class="form-check-input d-none" type="radio" name="size" id="medium"
                                                value="10-20kg" required>
                                            <label
                                                class="form-check-label option-link text-center border border-primary rounded-pill p-16 py-md-24 w-100"
                                                for="medium">10-20kg</label>
                                        </li>
                                        <li class="form-check form-check-inline w-30 w-xl-25 p-0 m-0">
                                            <input class="form-check-input d-none" type="radio" name="size" id="large"
                                                value="&gt;20kg" required>
                                            <label
                                                class="form-check-label option-link text-center border border-primary rounded-pill p-16 py-md-24 w-100"
                                                for="large">&gt; 20kg</label>
                                        </li>
                                    </ul>
                                    <h3 class="title-line position-relative mb-16"><span
                                            class="fs-1 fw-bold me-8">3</span>選擇方案</h3>
                                    <ul class="d-flex justify-content-between py-48 px-md-35">
                                        <li class="form-check form-check-inline w-30 w-xl-25 p-0 m-0">
                                            <input class="form-check-input d-none" type="radio" name="level" id="basic"
                                                value="基礎洗香香" required>
                                            <label
                                                class="form-check-label option-link text-center border border-primary rounded-pill p-16 py-md-24 w-100"
                                                for="basic">基礎<span class="d-block d-md-inline">洗香香</span></label>
                                        </li>
                                        <li class="form-check form-check-inline w-30 w-xl-25 p-0 m-0">
                                            <input class="form-check-input d-none" type="radio" name="level" id="middle"
                                                value="進階洗香香" required>
                                            <label
                                                class="form-check-label option-link text-center border border-primary rounded-pill p-16 py-md-24 w-100"
                                                for="middle">進階<span class="d-block d-md-inline">洗香香</span></label>
                                        </li>
                                        <li class="form-check form-check-inline w-30 w-xl-25 p-0 m-0">
                                            <input class="form-check-input d-none" type="radio" name="level"
                                                id="advanced" value="高級洗香香" required>
                                            <label
                                                class="form-check-label option-link text-center border border-primary rounded-pill p-16 py-md-24 w-100"
                                                for="advanced">高級<span class="d-block d-md-inline">洗香香</span></label>
                                        </li>
                                    </ul>
                                    <h3 class="title-line position-relative mb-16"><span
                                            class="fs-1 fw-bold me-8">4</span>選擇日期</h3>
                                    <%- include('./layout/reverse-date'); -%>
                                        <h3 class="title-line position-relative mb-16"><span
                                                class="fs-1 fw-bold me-8">5</span>填寫資料</h3>
                                        <%- include('./layout/reverse-info'); -%>
                                </form>
                            </div>
                            <!-- 住宿 -->
                            <div class="tab-pane" id="stay" role="tabpanel" aria-labelledby="stay-tab">
                                <form class="form-inline pb-48 px-16 px-md-48 bg-white rounded-1 needs-validation"
                                    novalidate>
                                    <h3 class="title-line position-relative mb-16"><span
                                            class="fs-1 fw-bold me-8">2</span>選擇房型</h3>
                                    <ul class="d-flex justify-content-between py-48 px-md-35">
                                        <li class="form-check form-check-inline w-30 w-xl-25 p-0 m-0">
                                            <input class="form-check-input d-none" type="radio" name="room"
                                                id="smallDog" value="小狗香香房" required>
                                            <label
                                                class="form-check-label option-link text-center border border-primary rounded-pill p-16 py-md-24 w-100"
                                                for="smallDog">小狗<span class="d-block d-md-inline">香香房</span></label>
                                        </li>
                                        <li class="form-check form-check-inline w-30 w-xl-25 p-0 m-0">
                                            <input class="form-check-input d-none" type="radio" name="room"
                                                id="mediumDog" value="中犬呼嚕房" required>
                                            <label
                                                class="form-check-label option-link text-center border border-primary rounded-pill p-16 py-md-24 w-100"
                                                for="mediumDog">忠犬<span class="d-block d-md-inline">呼嚕房</span></label>
                                        </li>
                                        <li class="form-check form-check-inline w-30 w-xl-25 p-0 m-0">
                                            <input class="form-check-input d-none" type="radio" name="room"
                                                id="largeDog" value="大狗好眠房" required>
                                            <label
                                                class="form-check-label option-link text-center border border-primary rounded-pill p-16 py-md-24 w-100"
                                                for="largeDog">大狗<span class="d-block d-md-inline">好眠房</span></label>
                                        </li>
                                    </ul>
                                    <h3 class="title-line position-relative mb-16"><span
                                            class="fs-1 fw-bold me-8">3</span>選擇日期</h3>
                                    <div class="reverse-time py-48">
                                        <div class="row align-items-center gy-24 gy-md-0 mb-16">
                                            <label class="col-md-5 col-form-label">
                                                <span class="me-24">從</span>
                                                <input type="text" name="from"
                                                    class="form-control d-inline datepicker py-4 px-16 rounded-pill w-75 text-center"
                                                    placeholder="請點擊選擇日曆的日期" required>
                                                <div class="invalid-feedback w-50 ms-50">
                                                    請選擇入住日期
                                                </div>
                                            </label>
                                            <label class="col-md-5 col-form-label">
                                                <span class="me-24">到</span>
                                                <input type="text" name="to"
                                                    class="form-control d-inline datepicker py-4 px-16 rounded-pill w-75 text-center"
                                                    placeholder="請點擊選擇日曆的日期" required>
                                                <div class="invalid-feedback w-50 ms-50">
                                                    請選擇退房日期
                                                </div>
                                            </label>
                                        </div>
                                        <div class="row">
                                            <label class="col-md-5 col-form-label">
                                                <span class="me-8">時間</span>
                                                <input type="text" name="time"
                                                    class="timepicker form-control d-inline py-4 px-24 rounded-pill w-75 text-center"
                                                    placeholder="請點擊選擇時間" required>
                                                <div class="invalid-feedback w-50 ms-50">
                                                    請選擇預約時間
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                    <h3 class="title-line position-relative mb-16"><span
                                            class="fs-1 fw-bold me-8">4</span>填寫資料</h3>
                                    <%- include('./layout/reverse-info'); -%>
                                </form>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>

        <%- include('./layout/footer'); -%>

            <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
            <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
            <script type="module" src="../main.js"></script>
            <script>
                const hamBtn = document.querySelector(".ham");
                const mobileMenu = document.querySelector(".mobile-menu .menu");
                const hamCloseBtn = document.querySelector(".closedHam");
                const body = document.body;

                function toggleMenu() {
                    mobileMenu.classList.toggle('open');
                    body.classList.toggle('hidden-y');
                };

                hamBtn.addEventListener('click', toggleMenu);
                hamCloseBtn.addEventListener("click", toggleMenu);


                // 日期選擇
                $(function () {
                    //設定中文語系
                    $.datepicker.regional['zh-TW'] = {
                        dayNames: ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六"],
                        dayNamesMin: ["日", "一", "二", "三", "四", "五", "六"],
                        monthNames: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
                        monthNamesShort: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
                        prevText: "上月",
                        nextText: "次月",
                        weekHeader: "週"
                    };
                    //將預設語系設定為中文
                    $.datepicker.setDefaults($.datepicker.regional["zh-TW"]);
                    $(function () {
                        $(".datepicker").datepicker({
                            beforeShow: function (input, inst) {
                                inst.dpDiv.addClass("custom-datepicker");
                            },
                            dateFormat: "yy-mm-dd",
                            minDate: 1,
                            maxDate: "+3M",
                        });
                    });
                });

                // 時間選擇
                $('.timepicker').timepicker({
                    timeFormat: 'h:mm p',// 時間隔式
                    interval: 30,//時間間隔
                    minTime: '9',//最小時間
                    maxTime: '21:00pm',//最大時間
                    //defaultTime: '9',//預設起始時間
                    startTime: '9:00',//開始時間
                    dynamic: true,//是否顯示項目，使第一個項目按時間順序緊接在所選時間之後
                    dropdown: true,//是否顯示時間條目的下拉列表
                    scrollbar: true//是否顯示捲軸
                });

                // Validation
                (function () {
                    'use strict'
                    var forms = document.querySelectorAll('.needs-validation')
                    Array.prototype.slice.call(forms)
                        .forEach(function (form) {
                            form.addEventListener('submit', function (event) {
                                if (!form.checkValidity()) {
                                    event.preventDefault()
                                    event.stopPropagation()
                                }

                                form.classList.add('was-validated')
                            }, false)
                        })
                })();
            </script>
</body>

</html>