<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>嘿毛寵物旅館 | 註冊</title>
    <link rel="icon" href="../assets/images/logo.ico" type="image/x-icon">
</head>

<body>
    <%- include('./layout/header'); -%>

        <!-- Banner -->
        <div class="signUp-banner bg-size-cover bg-repeat-no d-flex justify-content-center align-items-center">
            <h2 class="section-h2 fst-italic text-white fw-bold d-inline-block mb-0">成為我們的一員</h2>
        </div>

        <!-- 註冊 -->
        <main class="signUp">
            <div class="container">
                <h2 class="text-center mb-5">
                    <span><i class="bi bi-emoji-smile"></i> 歡迎加入我們 <i class="bi bi-emoji-smile"></i></span>
                </h2>
                <div class="text-center">
                    <img src="../assets/images/two-dogs.jpg" alt="兩隻狗狗" class="img-fluid dogs-deco">
                    <img src="../assets/images/two-dogs.jpg" alt="兩隻狗狗" class="img-fluid dogs-deco d-none d-xxl-inline-block">
                </div>
                <div class="col-md-8 col-lg-6 mx-auto bg-secondary-l border border-black-60 rounded-4 px-4 px-md-5 py-5">
                    <form class="singUp-form">
                        <div class="row mb-4">
                            <label for="name" class="col-sm-3 col-xxl-2 col-form-label text-black-80">名字</label>
                            <div class="col-sm-9 col-xxl-10">
                                <input type="text" class="form-control" id="name" placeholder="請輸入您的真實姓名">
                            </div>
                        </div>
                        <div class="row mb-4">
                            <label for="phoneNum" class="col-sm-3 col-xxl-2 col-form-label text-black-80">手機</label>
                            <div class="col-sm-9 col-xxl-10">
                                <input type="tel" class="form-control" id="phoneNum" placeholder="請輸入完整的手機號碼">
                            </div>
                        </div>
                        <div class="row mb-4">
                            <label for="Email" class="col-sm-3 col-xxl-2 col-form-label text-black-80">電子信箱</label>
                            <div class="col-sm-9 col-xxl-10">
                                <input type="email" class="form-control" id="Email" placeholder="請輸入您的email">
                            </div>
                        </div>
                        <div class="row mb-4">
                            <label for="password" class="col-sm-3 col-xxl-2 col-form-label text-black-80">密碼</label>
                            <div class="col-sm-9 col-xxl-10">
                                <input type="password" class="form-control" id="password" placeholder="請輸入6位數以上密碼">
                            </div>
                        </div>
                        <div class="row mb-5">
                            <label for="passwordCheck"
                                class="col-sm-3 col-xxl-2 col-form-label text-black-80">確認密碼</label>
                            <div class="col-sm-9 col-xxl-10">
                                <input type="password" class="form-control" id="passwordCheck" placeholder="請再次輸入密碼">
                            </div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button type="submit"
                                class="d-flex align-items-center justify-content-center btn signUp-btn border border-primary rounded-0 w-100 w-md-75 w-lg-50 mt-5">註冊<i
                                    class="bi bi-arrow-right fs-4 ms-3"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </main>

        <%- include('./layout/footer'); -%>

            <script type="module" src="../main.js"></script>
</body>

</html>