<div class="reverse-info col-lg-10 py-5">
    <div class="row mb-5">
        <label for="dogName" class="col-md-3 col-form-label">毛孩姓名 <span class="text-danger">*</span></label>
        <div class="col-md-9">
            <input list="dogName" name="dogName" class="form-control" required>
            <datalist id="dogName">
                <option value="大頭">
            </datalist>
            <div class="invalid-feedback">
                請輸入毛孩姓名
            </div>
        </div>
    </div>
    <div class="row mb-5">
        <label for="dogNum" class="col-md-3 col-form-label">毛孩數量 <span class="text-danger">*</span></label>
        <div class="col-md-9">
            <input type="number" id="dogNum" name="dogNum" min="1" max="10" class="form-control" required>
            <div class="invalid-feedback">
                請確認毛孩數量
            </div>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-3">
            <div class="mb-3 mb-md-0">樂園服務 <span class="text-danger">*</span></div>
        </div>
        <div class="col-md-9">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="rides" id="rides-yes" value="是" required>
                <label class="form-check-label" for="rides-yes">是
                    +200元(2小時/隻)</label>
                <div class="invalid-feedback">
                    請選擇是否加購
                </div>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="rides" id="rides-no" value="否" required>
                <label class="form-check-label" for="rides-no">否</label>
                <div class="invalid-feedback">
                    請選擇是否加購
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-5">
        <label for="emergencyContact" class="col-md-3 col-form-label">緊急聯絡人 <span class="text-danger">*</span></label>
        <div class="col-md-9">
            <input list="emergencyContact" name="emergencyContact" class="form-control" placeholder="請輸入姓名" required>
            <datalist id="emergencyContact">
                <option value="Moreene">
            </datalist>
            <div class="invalid-feedback">
                請輸入緊急聯絡人姓名
            </div>
        </div>
    </div>
    <div class="row mb-5">
        <label for="emergencyPhone" class="col-md-3 col-form-label">連絡電話 <span class="text-danger">*</span></label>
        <div class="col-md-9">
            <input list="emergencyPhone" name="emergencyPhone" class="form-control" placeholder="請輸入會接聽的電話號碼" required>
            <datalist id="emergencyPhone">
                <option value="0987-878787">
            </datalist>
            <div class="invalid-feedback">
                請輸入緊急聯絡人電話
            </div>
        </div>
    </div>
    <div class="row mb-5">
        <label for="remark" class="col-md-3 col-form-label">其他備註</label>
        <div class="col-md-9">
            <textarea name="remark" id="remark" cols="30" rows="6" class="form-control w-100 rounded-1"></textarea>
        </div>
    </div>
    <div class="row justify-content-md-end">
        <div class="col-md-9">
            <button type="submit"
                class="d-flex justify-content-center align-items-center btn btn-primary rounded-0 w-100 reverse-btn">送出<i
                    class="bi bi-arrow-right d-block fs-4 ms-3"></i></button>
        </div>
    </div>
</div>