<h3 class="reverse-title-line position-relative mb-3"><span class="fs-1 fw-bold me-2">1</span>選擇服務</h3>
<div class="d-flex justify-content-between py-5">
    <a href="reverse-dayCare.html"
        class="reverse-link text-center p-3 py-md-4 border border-primary  rounded-pill w-30 w-xl-25 <%- currentPage === 'dayCare' ? 'active' : '' %>">狗狗安親</a>
    <a href="reverse-cosmetic.html"
        class="reverse-link text-center p-3 py-md-4 border border-primary  rounded-pill w-30 w-xl-25">狗狗美容</a>
    <a href="reverse-stay.html"
        class="reverse-link text-center p-3 py-md-4 border border-primary  rounded-pill w-30 w-xl-25">狗狗住宿</a>
</div>