<div class="reverse-time py-5">
    <div class="row row-cols-1 row-cols-md-2 gy-4 gy-md-0">
        <div class="col">
            <label for="datepicker" class="me-2">日期</label> 
            <input type="text" id="datepicker" name="date" class="py-1 px-3 rounded-pill w-50" required>
            <div class="invalid-feedback">
                請選擇預約日期
            </div>
        </div>
        <div class="col">
            <label for="timepicker" class="me-2">時間</label>
            <input type="text" id="timepicker" name="time" class="timepicker py-1 px-4 rounded-pill w-50" required>
            <div class="invalid-feedback">
                請選擇預約時間
            </div>
        </div>
    </div>
</div>